:root {
     --font-color: #cecfd0;
     --link-color: #9cbbda;
     overscroll-behavior: none;
}

body {
     overscroll-behavior: none;
     background-size: cover;
     background-position: center right;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-color: #102D3B;
     background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://keishispl.github.io/img/wallpaper/self_drawn.png');
     color: var(--font-color);
     font-weight: normal;
     margin: 0;
     align-items: center;
     justify-content: center;
     text-align: center;
     font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', sans-serif;
     backdrop-filter: blur(5px);
     user-select: none;
     -moz-user-select: none;
     -webkit-user-select: none;
     -ms-user-select: none;
     -khtml-user-select: none;
}

main {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     width: 100vw;
}

h1 {
     text-align: center;
     font-size: 2.5rem;
     margin: 0.5rem 0;
}

#game-board {
     display: flex;
     align-items: center;
     flex-direction: column;
     margin: 1rem 0 3rem 0;
}

.letter-box {
     border: 2px solid rgb(157, 153, 153);
     border-radius: 3px;
     margin: 2px;
     font-size: 2.5rem;
     font-weight: 700;
     height: 4rem;
     width: 4rem;
     display: flex;
     justify-content: center;
     align-items: center;
     text-transform: uppercase;
     transition: background-color 0.2s ease;
}

.filled-box {
     border: 2px solid rgb(98, 97, 97);
     background-color: rgba(0, 0, 0, 0.2);
}

.letter-row {
     display: flex;
}

#keyboard-cont {
     margin: 1rem 0;
     display: flex;
     flex-direction: column;
     align-items: center;
}

#keyboard-cont div {
     display: flex;
     margin: 0.2rem 0;
}

.keyboard-button {
     font-size: 2rem;
     font-weight: 700;
     padding: 0.5rem;
     min-width: 3.5rem;
     margin: 0 2px;
     cursor: pointer;
     text-transform: uppercase;
     background-color: rgba(0, 0, 0, 0.2);
     color: var(--font-color);
     border: 2px solid rgb(157, 153, 153);
     border-radius: 5px;
     transition: background-color 0.2s ease;

     &:hover {
          background-color: rgba(255, 255, 255, 0.2);
     }
}

@media screen and (max-width: 690px) {
     .letter-box {
          font-size: 2rem;
          height: 3rem;
          width: 3rem;
     }

     .keyboard-button {
          font-size: 1.5rem;
          padding: 0.4rem;
          min-width: 2.5rem;
          margin: 0 1px;
     }
}

@media screen and (max-width: 500px) {
     .letter-box {
          font-size: 1.5rem;
          height: 2.5rem;
          width: 2.5rem;
     }

     .keyboard-button {
          font-size: 1.2rem;
          padding: 0.3rem;
          min-width: 2rem;
          margin: 0 1px;
     }
}

@media screen and (max-width: 400px) {
     .letter-box {
          font-size: 1.2rem;
          height: 2rem;
          width: 2rem;
     }

     .keyboard-button {
          font-size: 1rem;
          padding: 0.2rem;
          min-width: 1.5rem;
          margin: 0 1px;
     }
}

#reset,
.close {
     position: absolute;
     padding: 0;
     margin: 0;
     top: 16px;
     right: 16px;
     font-size: 32px;
     width: 32px;
     height: 32px;
     line-height: 32px;
     cursor: pointer;
     color: var(--font-color);
     transition: text-shadow 0.2s ease;

     &:hover {
          text-shadow: 0 0 5px rgba(255, 255, 255, 0.75);
     }
}

footer {
     background-color: rgb(5, 5, 5);
     margin: 0;
     padding: 10px 0;
     text-align: center;

     a {
          color: var(--link-color);
          text-decoration: none;
     }
}

#message-overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background-color: rgba(0, 0, 0, 0.5);
     padding: 0 0 5px 0;
}

#message-close {
     position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
}

#message-div {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 85vw;
     height: 85vh;
     max-height: 300px;
     backdrop-filter: blur(5px);
     background-color: rgba(0, 0, 0, 0.4);
     box-shadow: 2px 2px 5px rgba(227, 228, 237, .2);
     border: 2px solid rgba(255, 255, 255, .2);
     border-radius: 10px;
     transition: box-shadow 0.2s, background-color 0.1s;
     overflow-y: scroll;
     align-items: center;
     display: flex;
     flex-direction: column;
     justify-content: center;

     &:hover {
          box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
     }

     p,
     h3 {
          font-size: 16px;
          letter-spacing: 0;
          word-break: keep-all;
          font-weight: normal;
          text-align: center;
          width: 100%;

          a {
               color: var(--link-color);
               text-decoration: none;
          }
     }

     h3 {
          margin: 0;
     }

     h2 {
          font-size: 24px;
          font-weight: bold;
          margin: 10px 0 0 0;
     }
}